<h1> PRZYNAJMNEJ DZIAŁA</h1>


<table width="90%" class="table table-condensed">
  <thead>
    <tr>
      <th>NAME</th>
      <th>PRICE</th>
      <th>QUANTITY</th>
      <th>TOTAL PRICE</th>
      <th>WITH TAX</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% basket.each.with_index do |b, index| %>
    <tr>
      <td> <%= b[:product].name %> </td>
      <td> <%= b[:product].price %> $</td>
      <td> <%= b[:quantity] %> </td>
      <td> <%= b[:total_price] %> $</td>
      <td> <%= b[:tax] %> $</td>
      <td>
        <form action="/fake_removing_page" method="post">
          <input type="hidden" name="index" value=<% index %>>
          <button type="submit" class="button_submit">DELETE</button>
        </form>
      </td>
    </tr>
    <% end %>

  </tbody>
  <tfoot>
    <td></td>
    <td></td>
    <td></td>
    <td><b>Summary with tax:</b></td>
    <td><%= tax %> $</td>
  </tfoot>
  <tfoot>
    <td></td>
    <td></td>
    <td></td>
    <td><b>Summary:</b></td>
    <td><%= total %> $</td>
  </tfoot>
</table>

<button class="button_pay"><a href="https://www.siepomaga.pl/" class="button">PAY</a></button>
