<h1> PRZYNAJMNEJ DZIAŁA</h1>


<table width="100%">
  <thead>
    <tr>
      <th>NAME</th>
      <th>PRICE ($)</th>
      <th>QUANTITY</th>
      <th>TOTAL PRICE ($)</th>
      <th>REMOVE FORM BASKET</th>
    </tr>
  </thead>
  <tbody>
    <% basket.each do |b| %>
    <tr>
      <td> <%= b[:product].name %> </td>
      <td> <%= b[:product].price %> </td>
      <td> <%= b[:quantity] %> </td>
      <td> <%= b[:total_price] %> </td>
      <td>
      <form action="/fake_removing_page" method="post">
          <input type="hidden" name="product" value=<% @delete = b %>>
          <input type="submit" value="DELETE">
        </form>
      </td>
    </tr>
    <% end %>

  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td><b>Summary:</b></td>
      <td><%= total %></td>
    </tfoot>
  </table>

  <h1><%= p basket %></h1>

  <p> <%= p params %></p>
